In [38]:
from sqlalchemy import (create_engine, Table, Column, Integer, String, MetaData, inspect)
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

db_uri = "mysql+pymysql://root:root@localhost:3306/yelp_db"
engine = create_engine(db_uri)
connection = engine.connect()

#inspector = inspect(engine)
#print("Tables in the database are " + str(inspector.get_table_names()))

/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [41]:
# number of restaurants per city, read into a dataframe
restaurants = pd.read_sql("SELECT business.state,business.city,COUNT(*) AS 'Number of Restaurants per City' FROM business INNER JOIN category on business.id = category.business_id WHERE category.category = 'Restaurants' GROUP BY business.state, business.city ORDER BY COUNT(*) DESC;", connection).values
print("Number of cities with restaurants:", len(restaurants))

print(restaurants[0:10])

Number of cities with restaurants: 727
[['ON' 'Toronto' 6752]
 ['NV' 'Las Vegas' 5685]
 ['AZ' 'Phoenix' 3515]
 ['QC' 'Montr√©al' 3215]
 ['NC' 'Charlotte' 2327]
 ['PA' 'Pittsburgh' 2089]
 ['AZ' 'Scottsdale' 1414]
 ['EDH' 'Edinburgh' 1365]
 ['OH' 'Cleveland' 1292]
 ['ON' 'Mississauga' 1228]]

In [36]:
cuisine_df = pd.read_sql("SELECT category.category, COUNT(category.category) AS 'Cuisine Count' FROM business INNER JOIN category on business.id = category.business_id WHERE business.city = 'Pittsburgh' GROUP BY category.category ORDER BY COUNT(category.category) DESC;", connection).values
data = {}

for cuisine in cuisine_df:
    name,count = cuisine
    data[name]=count

#print(data.keys())
print("# Restaurants : %s" %  data.get('Restaurants'))
print("Italian : %s" %  data.get('Italian'))
print("Chinese : %s" %  data.get('Chinese'))
print("Mexican : %s" %  data.get('Mexican'))
print("Mediterranean : %s" %  data.get('Mediterranean'))
print("Japanese : %s" %  data.get('Japanese'))
print("Thai : %s" %  data.get('Thai'))
print("Barbeque : %s" %  data.get('Barbeque'))
print("Asian Fusion : %s" %  data.get('Asian Fusion'))
print("Indian : %s" %  data.get('Indian'))
print("Middle Eastern : %s" %  data.get('Middle Eastern'))
print("Greek : %s" %  data.get('Greek'))
print("French : %s" %  data.get('French'))
print("Tex-Mex : %s" %  data.get('Tex-Mex'))
print("Korean : %s" %  data.get('Korean'))
print("Turkish : %s" %  data.get('Turkish'))
print("Greek : %s" %  data.get('Greek'))
print("Caribbean : %s" %  data.get('Caribbean'))
print("Vietnamese : %s" %  data.get('Vietnamese'))
print("Southern : %s" %  data.get('Southern'))
print("Lebanese : %s" %  data.get('Lebanese'))
print("Irish : %s" %  data.get('Irish'))
print("Pakistani : %s" %  data.get('Pakistani'))
print("Cuban : %s" %  data.get('Cuban'))
print("Spanish : %s" %  data.get('Spanish'))
print("Cambodian : %s" %  data.get('Cambodian'))
print("Brazilian : %s" %  data.get('Brazilian'))
print("Argentine : %s" %  data.get('Argentine'))
print("Bangladeshi : %s" %  data.get('Bangladeshi'))
print("American (New) : %s" %  data.get('American (New)'))
print("Latin American : %s" %  data.get('Latin American'))
print("Greek : %s" %  data.get('Greek'))

# Restaurants : 2089
Italian : 207
Chinese : 128
Mexican : 112
Mediterranean : 60
Japanese : 59
Thai : 53
Barbeque : 47
Asian Fusion : 46
Indian : 35
Middle Eastern : 36
Greek : 31
French : 18
Tex-Mex : 16
Korean : 15
Turkish : 15
Greek : 31
Caribbean : 12
Vietnamese : 11
Southern : 11
Lebanese : 6
Irish : 6
Pakistani : 7
Cuban : 4
Spanish : 4
Cambodian : 3
Brazilian : 2
Argentine : 2
Bangladeshi : 1
American (New) : 281
Latin American : 20
Greek : 31

In [37]:
# get count of restraurants by city
SELECT business.state, business.city,
  COUNT(*) AS "Number of Restaurants per City"
  FROM business
  INNER JOIN category on business.id = category.business_id
  WHERE category.category = "Restaurants"
  GROUP BY business.state, business.city
  ORDER BY COUNT(*) DESC;